header{
    background-image: url(https://product.hstatic.net/1000353777/product/upload_4a24e77b3c3e41c3974b03182fea0e5a.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}