* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: 0;
          box-sizing: 0;
}

html,
body {
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url(https://product.hstatic.net/1000353777/product/upload_4a24e77b3c3e41c3974b03182fea0e5a.jpg);
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
}

.products #chonthuonghieu {
  background-color: #00d1ff;
}

.products .btn_updown {
  height: 20px;
  width: 20px;
  background-color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
}

.products .buttoncart {
  border: 0;
  background: linear-gradient(21deg, #afe5f5 10%, #1d7a96 40%, rgba(0, 209, 255, 0.95) 90%);
  border-radius: 10px 20px 10px 20px;
  height: 35px;
}

.products .modal-cart {
  max-width: 800px;
}

.products .modal-cart .modal-content {
  border-radius: 30px;
  background: linear-gradient(21deg, #afe5f5 10%, #1d7a96 40%, rgba(0, 209, 255, 0.95) 90%);
  margin: 0 auto;
  width: 800px;
}

.products .modal-cart .modal-footer button {
  border-radius: 15px;
}

.products .row .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0;
  border-radius: 10px;
  -webkit-transition: all .5s;
  transition: all .5s;
  height: 100%;
}

.products .row .card:hover {
  -webkit-box-shadow: 2px 5px 25px 0px #8b8a8a;
          box-shadow: 2px 5px 25px 0px #8b8a8a;
}

.products .row .card .card-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 360px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.products .row .card .card-top img {
  border-radius: 10px 10px 0 0;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.products .row .card .card-top img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.products .row .card .card-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.products .row .card .card-bottom .card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.products .row .card .card-bottom .card-content h1 {
  height: 100%;
  font-size: 15px;
  color: palevioletred;
  font-weight: 600;
}

.products .row .card .card-bottom .card-content p {
  font-size: 15px;
  color: #222020;
  font-weight: 400;
}

.products .row .card .card-bottom h5 {
  font-size: 23px;
  color: black;
  font-weight: 700;
  margin-top: auto;
}

.products .row .card-hover {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.products .row .col-4 {
  overflow: hidden;
  position: relative;
}

.products .row .col-4:hover .card-hover {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
/*# sourceMappingURL=mains.css.map */